---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Seperator from "../../components/Seperator.astro";
import TitleDescButtonCard from "../../components/main/TitleDescButtonCard.astro";
import Layout from "../../layouts/Layout.astro";

import liqPNG from "/liq.png";
import digitalImage from "/digitalimage.jpg";
import votronicLogo from "/votronic.png";
import noLogo from "/nologo.png";

export async function getStaticPaths() {
	return [{ params: { lang: "de" } }, { params: { lang: "en" } }];
}

let { lang } = Astro.params;
lang = lang || "de";
---

<Layout
	titleDe="Niklas Ahlers - Entdecke meine Projekte"
	titleEn="Niklas Ahlers - Explore my projects"
	index={true}
	keywordsEn="Redacks, Niklas Ahlers, Coding,, projects, Pyrope, light software, liq, votronic"
	keywordsDe="Redacks, Niklas Ahlers, Programmieren, Projekte, Pyrope, Licht Software, liq, votronic"
	descEn="Here you can find all my current and planned projects. Check them!"
	descDe="Hier findest du alle meine aktuellen und geplanten Projekten. Viel Spaß beim erkunden!"
>
	<main class="w-full pb-10 overflow-clip">
		<TitleDescButtonCard
			titleDe="Viel Spaß beim Erkunden meiner Projekte!"
			titleEn="Have fun exploring my projects!"
			align="left-no-fade"
			hideButton={true}
			isH1
		>
			<div slot="descDe">
				Ich habe nun schon bereits an vielen verschiedenen Projekten in
				meiner Freizeit gearbeitet und bin auch weiterhin an coolen
				neuen Ideen dran, die hier auch mit aufgelistet werden. Viel
				Spaß beim erkunden eines Teiles meiner bisherigen Projekte und
				auch beim Ausprobieren! Bei Fragen zu irgendeiner meiner
				Projekte bitte mich einfach kontaktieren.
			</div>
			<div slot="descEn">
				I already worked on a lot of projects in my free time. Here you
				can see some of my countless finished projects and also some
				projects I am currently starting or still developing. Feel free
				to try them out or ask me any questions about them.
			</div>
		</TitleDescButtonCard>
		<Seperator fadeIn />
		<div
			class="grid 2xl:grid-cols-3 xl:grid-cols-2 lg:grid-cols-2 grid-cols-1 gap-6 lg:px-7 md:px-20 py-10 px-1"
		>
			<ProjectCard
				titleDe="Digitale Bildverarbeitung"
				titleEn="Digital Image Processing"
				textDe="Dieses Projekt demonstriert auf spielerische Art und Weise die Anwendung von mathematischen Algorithmen zur Bildbearbeitung am Computer. Man kann verschiedene Applets ausprobieren, die Bilder in verschiedenen Weisen verändern können, wie z.B. Vergrößern, Aufhellen, Spiegeln, Transformieren, Weichzeichnen und mehr. Es gibt auch ein Applet, mit dem man die Live-Webcam manipulieren kann. Dieses Projekt war eine Kooperation zwischen mir und dem Mathematik-Professor Prof. Dr. Reinhard Oldenburg."
				textEn="This project demonstrates how mathematical algorithms can be used for image processing on the computer. It shows various algorithms that can modify images in different ways, such as enlarging, brightening, mirroring, blurring and more. It also contains an applet that alters the image stream of a webcam in real time. This project was a cooperation between me and Prof. Dr. Reinhard Oldenburg from the University of Augsburg."
				link="https://myweb.rz.uni-augsburg.de/~oldenbre/webBV/index.html"
				linkTextDe="Uni-Augsburg - Digitale Bildverarbeitung"
				linkTextEn="Uni-Augsburg - Digital Image Processing"
				imageLink={digitalImage}
			/>
			<ProjectCard
				titleDe="LIQ - Spiel"
				titleEn="LIQ - Game"
				textDe="LIQ oder Leben in Quarantäne ist ein taktisches Pixel Art Spiel, dass auf Itch.io verfügbar ist. Das Spiel bietet einen Multiplayer-Modus sowie einen Singleplayer-Modus. Das Spiel generiert jedes mal zufällige Karten für unbegrenzte Herausforderungen und erlaubt es den Spielern, Gegenstände freizuschalten, ihre Avatare mit diesen anzupassen und ihre Punktzahl auf einem Online-Ranking zu vergleichen. Ziel des Spiels ist es Klopapier zu sammeln und dabei nicht von der Polizei draußen erwischt zu werden. Ich habe mich an dem Projekt beteiligt, indem ich verschiedene Mods erstellt habe, wie zum Beispiel ein Minecraft-Theme oder eine Capture the Flag Spielmodus und weitere. Außerdem habe ich Bugs gefixed und Sicherheitslücken behoben. Die Enwicklung wurde allerdings am Spiel selber nun eingestellt, allerdings arbeitet die Community weiter daran. Scrollen Sie runter für weitere Infos"
				textEn="LIQ or Life in quarantine is a tactical pixel art game that is available on Itch.io. The game offers a multiplayer mode as well as a singleplayer mode. The game generates random maps for unlimited challenges and allows players to unlock cool items to customize their avatats and campare their scores on an online ranking. The target of the game is to gather toilet paper while avoiding the police, matching the situation during the corona time. I participated in the project by creating various mods, such as a Minecraft-Theme or a Capture the Flag game mode. I also fixed bugs and security holes. The game is not getting any updates or bugfixes, because the development got stopped! BUT -> Scroll to Coming Soon"
				link="https://mvolution.itch.io/quarantine"
				linkTextDe="LIQ - Spiel (itch.io)"
				linkTextEn="LIQ - Game (itch.io)"
				imageLink={liqPNG}
			/>
		</div>
		<TitleDescButtonCard
			titleDe="Noch in Entwicklung"
			titleEn="Coming Soon"
			align="left-no-fade"
			hideButton={true}
		>
			<div slot="descDe">
				Es sind weitere größere Projekte in Planung oder zum Teil
				Bereits in der Entwicklung! Es werden also spannende Dinge in
				der Zukunft kommen.
			</div>
			<div slot="descEn">
				A lot of other projects are coming soon or are already under
				development. So stay tuned!
			</div>
		</TitleDescButtonCard>
		<Seperator fadeIn />
		<div
			class="grid 2xl:grid-cols-3 xl:grid-cols-2 lg:grid-cols-2 grid-cols-1 gap-6 lg:px-7 md:px-20 py-10 px-1"
		>
			<ProjectCard
				titleDe="LIQ - Community Edition"
				titleEn="LIQ - Community Edition"
				textDe="Da die Entwicklung des Spiels eingestellt wurde, werde ich bald an einer Community Edition mitarbeiten, um das Spiel mit vielen neuen Inhalten und eventuell einem neuem Setting wiederzubeleben. Besuchen Sie gerne den Discord um den aktuellen Status mitzuverfolgen und Vorschläge zu geben. Für die Community Edition werden auch gerne noch Übersetzter, Pixel-Art-Zeichner, Story-Schreiber, Programmierer etc. gesucht."
				textEn="Since development of the game has been discontinued, I will soon be collaborating on a Community Edition to revive the game with lots of new content and possibly a new setting. Feel free to visit the Discord to follow the current status and give suggestions. We are also looking for translators, pixel art artists, story writers, programmers etc. for the Community Edition."
				link="https://discord.gg/YYJPZvRagr"
				linkTextDe="Discord - LIQ"
				linkTextEn="Discord - LIQ"
				imageLink={liqPNG}
			/>
			<ProjectCard
				titleDe="Votronic"
				titleEn="Votronic"
				textDe="Dieses Projekt soll eine Art Voting Platform sein, welche für Produkt Feedback genutzt werden kann. Nutzer können Vorschläge, Fehler oder Fragen posten, auf die man dann Kommentieren kann und auch den Status der Posts verwalten kann. So können Nutzer ein simples Produkt Feedback geben."
				textEn="This project is supposed to be a kind of voting platform, which can be used for product feedback. Users can post suggestions, bugs or questions, which can be commented on and the status of the posts can be managed. So users can give a simple product feedback."
				imageLink={votronicLogo}
			/>
			<ProjectCard
				titleDe="Pyrope | Licht-Software"
				titleEn="Pyrope | Light-Controll"
				textDe="Pyrope soll eine Open-Source Lichtsteuerungssoftware werden die alle Funktionen wie andere bekannte Lichtsoftwares liefern soll. Entwickelt wird das Projekt in Rust, da die Sprache sehr bugfrei und flüssig läuft. Das Frontend wird mit der Hilfe von Tauri und Yew und Axum-Websockets entickelt. Ich würde mich sehr über Hilfe, Ideen oder jede Art von Unterstützung freuen."
				textEn="Pyrope is supposed to be an open-source lighting control software that will provide all the features of other well-known lighting software. The project is beeing written in Rust because its very stable and fast. The frontend uses Tauri and Yew with the help of Axum-Websockets to talk to the backend. I would be very happy about any help, ideas or any other kind of support."
				imageLink={""}
			/>
		</div>
	</main>
</Layout>
